<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<OutputFile>demo.pfm</OutputFile>
	<Shadows>true</Shadows>
	<Reflections>true</Reflections>
	<Refractions>true</Refractions>
	<MaxDepth>8</MaxDepth>

	<Camera>
		<Resolution>
			<X>600</X>
			<Y>450</Y>
		</Resolution>
		<Position>
			<X>0.6</X>
			<Y>0.0</Y>
			<Z>-5.6</Z>
		</Position>
		<Direction>
			<X>0.0</X>
			<Y>-0.03</Y>
			<Z>1.0</Z>
		</Direction>
		<Up>
			<X>0.0</X>
			<Y>1.0</Y>
			<Z>0.0</Z>
		</Up>
		<FOV>40</FOV>
	</Camera>

	<Scene>
		<BackgroundColor>
			<R>0.1</R>
			<G>0.2</G>
			<B>0.3</B>
		</BackgroundColor>

		<!--Collection of light sources.-->
		<LightSources>
			<Ambient>
				<Intensity>
					<X>1</X>
					<Y>1</Y>
					<Z>1</Z>
				</Intensity>
			</Ambient>
			<Point>
				<Intensity>
					<X>1</X>
					<Y>1</Y>
					<Z>1</Z>
				</Intensity>
				<Position>
					<X>-10</X>
					<Y>8</Y>
					<Z>-6</Z>
				</Position>
			</Point>
			<Point>
				<Intensity>
					<X>0.3</X>
					<Y>0.3</Y>
					<Z>0.3</Z>
				</Intensity>
				<Position>
					<X>0</X>
					<Y>20</Y>
					<Z>-3</Z>
				</Position>
			</Point>
		</LightSources>

		<!--Collection of materials.-->
		<Materials>
			<Material>
				<Name>yellow</Name>
				<Ambient>0.1</Ambient>
				<Diffuse>0.8</Diffuse>
				<Specular>0.2</Specular>
				<Highlight>10</Highlight>
				<Color>
					<R>1.0</R>
					<G>1.0</G>
					<B>0.2</B>
				</Color>
				<Reflection>0.0</Reflection>
				<Refraction>0.5</Refraction>
				<RefractiveIndex>1.47</RefractiveIndex>
			</Material>
			<Material>
				<Name>blue</Name>
				<Ambient>0.1</Ambient>
				<Diffuse>0.5</Diffuse>
				<Specular>0.5</Specular>
				<Highlight>150</Highlight>
				<Color>
					<R>0.2</R>
					<G>0.3</G>
					<B>1.0</B>
				</Color>
				<Reflection>0.5</Reflection>
				<Refraction>0.0</Refraction>
				<RefractiveIndex>2.417</RefractiveIndex>
			</Material>
			<Material>
				<Name>red</Name>
				<Ambient>0.1</Ambient>
				<Diffuse>0.6</Diffuse>
				<Specular>0.4</Specular>
				<Highlight>80</Highlight>
				<Color>
					<R>0.8</R>
					<G>0.2</G>
					<B>0.2</B>
				</Color>
				<Reflection>0.0</Reflection>
				<Refraction>0.5</Refraction>
				<RefractiveIndex>1.0</RefractiveIndex>
			</Material>
			<Material>
				<Name>gold</Name>
				<Ambient>0.2</Ambient>
				<Diffuse>0.2</Diffuse>
				<Specular>0.8</Specular>
				<Highlight>400</Highlight>
				<Color>
					<R>0.3</R>
					<G>0.2</G>
					<B>0.0</B>
				</Color>
				<Reflection>0.5</Reflection>
				<Refraction>0.5</Refraction>
				<RefractiveIndex>2.65</RefractiveIndex>
			</Material>
			<Material>
				<Name>white</Name>
				<Ambient>0.1</Ambient>
				<Diffuse>0.6</Diffuse>
				<Specular>0.4</Specular>
				<Highlight>80</Highlight>
				<Color>
					<R>0.9</R>
					<G>0.9</G>
					<B>0.9</B>
				</Color>
				<Reflection>0.7</Reflection>
				<Refraction>0.0</Refraction>
				<RefractiveIndex>1.31</RefractiveIndex>
			</Material>
			<Material>
				<Name>green</Name>
				<Ambient>0.2</Ambient>
				<Diffuse>0.2</Diffuse>
				<Specular>0.8</Specular>
				<Highlight>400</Highlight>
				<Color>
					<R>0.1</R>
					<G>0.8</G>
					<B>0.1</B>
				</Color>
				<Reflection>0.0</Reflection>
				<Refraction>0.7</Refraction>
				<RefractiveIndex>1.77</RefractiveIndex>
			</Material>
		</Materials>
	</Scene>
</Config>